name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  checks: write
  pull-requests: write
  id-token: write
  contents: read
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set VERSION
        run: |
          if [ "${{ github.ref_type }}" = "tag" ]; then
            VERSION="${{ github.ref_name }}"
          else
            VERSION="dev-untagged"
          fi

          echo "VERSION=$VERSION"
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Show version
        run: echo "Building version: $VERSION"

      - name: Install
        run: yarn

      - name: Unit tests
        run: yarn test

      - name: Build
        run: |
          echo "Building with VERSION=$VERSION"
          VERSION="$VERSION" yarn build

      - name: Integration tests
        run: yarn test:e2e

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: '**/reports/**/*.xml'
